    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">
                                            {{ cadastrando ? 'Cadastre-se' : 'Bem-vindo(a) de volta!' }}
                                        </h1>
                                    </div>

                                    <div class="alert alert-danger" *ngIf="loginError">
                                        Login e/ou senha incorreto(a)
                                    </div>

                                    <form class="user" #loginForm="ngForm" (submit)="onSubmit()">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                                id="inputUsername" name="username" [(ngModel)]="username"
                                                placeholder="Insira seu login">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                id="password" name="password" [(ngModel)]="password" placeholder="Insira sua senha">
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">Lembrar deste dispositivo</label>
                                            </div>
                                        </div>
                                        <button *ngIf="!cadastrando" type="submit" class="btn btn-primary btn-user btn-block">
                                            Entrar
                                        </button>
                                        <button *ngIf="cadastrando" type="button" class="btn btn-primary btn-user btn-block">
                                            Cadastrar
                                        </button>
                                        <button (click)="cancelaCadastro()" *ngIf="cadastrando" type="button" class="btn btn-danger btn-user btn-block">
                                            Cancelar
                                        </button>
                                        <hr>
                                        <a href="index.html" class="btn btn-google btn-user btn-block">
                                            <i class="fab fa-google fa-fw"></i> Entrar com Google
                                        </a>
                                        <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                            <i class="fab fa-facebook-f fa-fw"></i> Entrar com Facebook
                                        </a>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="forgot-password.html">Esqueceu sua senha?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="#"
                                         (click)="preparaCadastrar($event)">Criar uma conta</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>