<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Listagem de Clientes</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
            {{ mensagemSucesso }}
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
            {{ mensagemErro }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <button class="btn btn-warning" (click)="novoCadastro()">
            <i class="fa fa-plus"></i> Novo
        </button>
    </div>
</div>
<br>
<div class="card bg-white">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-hover table-striped">
                <thead>
                    <th>#</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Data de cadastro</th>
                    <th>Ações</th>
                </thead>
                <tbody>
                    <tr *ngFor="let cliente of clientes">
                        <td>{{ cliente.id }}</td>
                        <td>{{ cliente.nome }}</td>
                        <td>{{ cliente.cpf }}</td>
                        <td>{{ cliente.dataCadastro }}</td>
                        <td>
                            <button class="btn btn-primary mr-1"
                             routerLink="/clientes/novo/{{ cliente.id }}">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button (click)="preparaDelecao(cliente)" class="btn btn-danger" data-toggle="modal" data-target="#modalDelecao">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="modalDelecao" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmação</h4>
                </div>
                <div class="modal-body" *ngIf="clienteSelecionado">
                    Confirma a deleção do(a) cliente: <strong>{{ clienteSelecionado.nome }}</strong>?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" (click)="deletarCliente()" data-dismiss="modal">Sim</button>
                    <button class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

</div>
